body,
html {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 64px;
    /* Adjust this value to the height of your navbar */
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    /* Adjust color and opacity */
    backdrop-filter: blur(10px);
    /* Optional: Adds a blur effect behind the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* Optional: Adds a slight shadow for better visibility */
}

.main-content {
    position: relative;
    background: url("../assets/hero-image.webp") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black overlay */
    z-index: 1;
    /* Place overlay above the background image */
}

#hero,
#portfolio,
#experience,
#contact {
    position: relative;
    padding: 100px 0;
    /* Adjust padding as needed */
    z-index: 2;
    /* Ensure content is above the overlay */
}

.footer {
    background: #fff;
    color: #000;
}

.hero-content h1,
.hero-content p {
    color: #fff;
    /* Ensure text is readable over the background image */
}

/* Profile Image as Circle */
.profile-image {
    border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    /* Adjust the alignment for smaller screens */
    .navbar-collapse {
        text-align: right;
        /* Ensures the links align to the right */
    }

    .navbar-nav {
        display: block;
        /* Ensures the nav items stack vertically */
    }

    .navbar-nav .nav-item {
        padding: 5px 0;
        /* Adds padding to all nav items */
        margin-right: 0;
        /* Removes the right margin */
    }

    .navbar-nav .nav-link {
        padding: 8px 10px;
        width: 100%;
        display: block;
        /* Ensures the entire area is clickable */
    }

    .nav-item>.active {
        padding-top: 15px;
    }
}


@media (max-width: 768px) {

    #hero,
    #portfolio,
    #experience,
    #contact {
        padding: 50px 0;
        /* Adjust padding for smaller screens */
    }

    .hero-content h1 {
        font-size: 2rem;
        /* Adjust font size for smaller screens */
    }
}